.recently-updated{
    padding-left: 10px;
    width: 93%;
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
}

.recently-updated .image{
    flex: 1;
}

.recently-updated img{
    height: 100%;
    width: 100%;
    box-sizing: contain;
}
.recently-updated .text{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
   
}

.recently-updated .title{
    font-size: 1.3rem;
    font-weight: 600;
}

.recently-updated .date{
    color: green;
    font-style: italic;
    font-size: 0.93rem;
}

.recently-updated .description{
    text-align: justify;
    font-size: 0.9rem;
}

.recently-updated-container a{
    text-decoration: none;
}

.reacts{
    display: flex;
}
.like{
    margin-right: 20px;
}
@media screen and (max-width:1024px){


    
}