.comment {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.comment textarea {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(220, 220, 220);
}

.comment input[type=button] {
    margin-top: 10px;
    width: 80px;
    padding: 10px;
    background-color: #FA8E45;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    align-self: flex-end;
}

.user-comment{
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}

.user-comment .image{
    height: 40px;
    width: 40px;
}

.user-comment img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-sizing: cover;
}

.user-comment-content p{
    margin: 0;
    margin-left: 10px;
    margin-right: 10rem;
}

.user-name{
    font-weight: 600;
    font-size: 14px;
}

.user-comment{
    font-weight: 400;
    font-size: 13px;
}

.fa-icon-love-comment{
    margin: 8px 0px 8px 0;
    font-size: 20px;
    margin-right: 6px;
    color: red;
}

.user-comment span{
    margin-top: 5px;
}