input[type=submit] {
    margin-top: 15px;
    color: white;
    background-color: #6941C6;
    font-size: 13px;
    font-weight: 800;
    padding: 13px;
    width: 100%;
    margin: 20px 0;
    border: none;
    border-radius: 12px;
  }
  
  
  .form-label{
    letter-spacing: 5px;
  }
  
  input[type=text],
  input[type=password],
  input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 10px 0;
    box-sizing: border-box;
    background-color:#F6E9FF;
    border: none;
    border-bottom: 2px solid rgb(137, 137, 137);
    border-radius: 5px 5px 0 0;
  }
  
  .sign-up p{
    text-align: center;
  }
  
  .google-sign-in,
  .facebook-sign-in {
    margin-top: 15px;
    color: white;
    background-color: #FA8E45;
    font-size: 13px;
    font-weight: 800;
    padding: 13px;
    width: 100%;
    border: none;
    border-radius: 12px;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
  
  