.Slider{
    display:flex;
    justify-content: center;
    max-width: 80vw;
}

.Slider-container{
    display: flex;
    flex-direction: row;
    width:100vw;
    overflow: auto;
    padding-bottom: 20px;
    gap:10px;
}