.Slider-container{
   display: flex;
   gap: 20px;
   align-items: center;
   justify-content: center;
}

.Slider{
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    align-self: start;
    overflow-anchor: none;
}